<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>分发运营管理平台-派群</title>
    <link rel="stylesheet" href="__static__layui/css/layui.css">
    <link rel="stylesheet" href="__static__css/pai.css">
    <script src="__static__layui/layui.js"></script>
    <script src="__static__js/jquery-3.3.1.js"></script>

</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">运营管理平台</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <!--<ul class="layui-nav layui-layout-left">-->
        <!--<li class="layui-nav-item"><a href="">控制台</a></li>-->
        <!--<li class="layui-nav-item"><a href="">商品管理</a></li>-->
        <!--<li class="layui-nav-item"><a href="">用户</a></li>-->
        <!--<li class="layui-nav-item">-->
        <!--<a href="javascript:;">其它系统</a>-->
        <!--<dl class="layui-nav-child">-->
        <!--<dd><a href="">邮件管理</a></dd>-->
        <!--<dd><a href="">消息管理</a></dd>-->
        <!--<dd><a href="">授权管理</a></dd>-->
        <!--</dl>-->
        <!--</li>-->
        <!--</ul>-->
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    派群
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="javascript:;" class="quit">退了</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree  layui-nav-itemed"  lay-filter="test">
                <li class="layui-nav-item">
                    <a class="" href="javascript:;">服务器管理</a>
                    <dl class="">
                        <dd><a href="{:url('server/index')}">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp服务器</a></dd>
                        <dd><a href="{:url('whitelist/index')}">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp白名单</a></dd>
                        <dd><a href="{:url('blacklist/index')}">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp黑名单</a></dd>
                        <dd><a href="{:url('httpdatacollectServerid/index')}"  class="daikaifang">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp采集数据</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">策略管理</a>
                    <!--layui-nav-child-->
                    <dl class="">
                        <dd><a href="{:url('pushpolicy/index')}">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp推送策略</a></dd>
                        <dd><a href="{:url('product/index')}">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp产品管理</a></dd>
                        <dd><a href="{:url('product/binding')}">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp产品绑定</a></dd>
                    </dl>
                </li>

            </ul>
        </div>
    </div>
    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">

            {__CONTENT__}
        </div>
    </div>

</div>
</body>
</html>
