{include file='layout/header'}
<blockquote class="layui-elem-quote layui-text">
    修改黑名单
</blockquote>

<form class="layui-form" action="{:url('shortlinkset/update')}" method="post">

    <div class="layui-form-item">
        <label class="layui-form-label typename">短链地址</label>
        <div class="layui-input-block">
            <input type="hidden" name="id" value="{$info['id']}">
            <input type="text" name="link" value="{$info['link']}" lay-verify="blackContent" autocomplete="off" placeholder="请输入短链地址" class="layui-input inputWidth">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="demo1">立即修改</button>
            <a class="layui-btn layui-btn-primary cancel"  lay-filter="cancel"  >取消</a>
        </div>
    </div>
</form>

<script>
    layui.use(['form', 'layedit', 'laydate'], function(){
        var form = layui.form
            ,layer = layui.layer
            ,layedit = layui.layedit
            ,laydate = layui.laydate;
        //自定义验证规则
        form.verify({
            blackContent: function(value){
                if(value.length < 3){
                    return '链接至少为三个字符！';
                }
            }
            ,content: function(value){
                layedit.sync(editIndex);
            }
        });
        //监听提交


        form.on('submit(demo1)', function(data){
            layui.use('jquery',function(){
                var $=layui.$;
                $.ajax({
                    type: 'post',
                    url: "{:url('shortlinkset/editAction')}", // ajax请求路径
                    data: data.field,
                    success: function(data){
                        if(data.code==0){
                             layer.msg('修改成功');
                             setTimeout(function () {
                                 window.location.href="{:url('index/shortlinkset')}"
                             },1000)
                         }else{
                             layer.msg(data.msg);
                         }
                    }
                });
            });
            return false;
        });
    });

    $(function () {
        // 取消
        $(function () {
            $(".cancel").click(function () {
                window.location.href="{:url('index/shortlinkset')}"
            })
        })
    })
</script>
