{include file='layout/header'}
<blockquote class="layui-elem-quote layui-text">
    链接管理&nbsp&nbsp&nbsp&nbsp&nbsp
</blockquote>

<div action="" class="layui-form">
    <table class="layui-table " lay-data="{width: 1300, height:667, url:'{:url('shortlinkset/getShortlinksetList')}', page:true,limits:[15,30,45],limit:15,serverid:0, id:'idTest'}" lay-filter="demo">
        <div class="layui-form-item">
            <div class=" demoTable">
                <div class="layui-inline">
                    <input class="layui-input" name="id" id="demoReload" placeholder="请输入搜索链接地址" >
                </div>
                <button class="layui-btn" data-type="reload" >搜索</button>
                <a class="layui-btn margin-left10 blackAdd" style="margin-left: 10px;"  lay-event="add">添加短链</a>
                <a class="layui-btn margin-left10 updateLink" style="margin-left: 10px;"  lay-event=""><b>更新</b></a>
            </div>
        </div>

        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend><b>监控服务器</b></legend>
        </fieldset>
        <div class="layui-form-item" pane="">
            <label class="layui-form-label" style="padding: 9px 0px;">服务器</label>
            <div class="layui-input-block" id="LinkServerid" lay-event="checkboxs">
                {if condition="!empty($serverList)"}
                    {volist name="$serverList" id="vo"}
                          {if condition="!empty($servcerids)"}
                                {if condition="in_array($vo.id,$servcerids)"}
                                    <input type="checkbox" name="serverid" lay-skin="primary" value="{$vo.id}"  lay-filter="checkboxs" title="{$vo.servername}" checked>
                                {else /}
                                      <input type="checkbox" name="serverid" lay-skin="primary" value="{$vo.id}"  lay-filter="checkboxs" title="{$vo.servername}">
                                {/if}
                          {else /}
                              <input type="checkbox" name="serverid" lay-skin="primary" value="{$vo.id}"  lay-filter="checkboxs" title="{$vo.servername}" checked>
                          {/if}
                    {/volist}
                {else /} {$msg}
                {/if}
            </div>
        </div>


        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend><b>监控地址</b></legend>
        </fieldset>


        <thead>
            <tr>
                <th lay-data="{field:'id', width:70, sort: true, fixed: true}">ID</th>
                <th lay-data="{field:'link', width:900}">链接地址</th>
                <th lay-data="{field:'status', width:140,templet: '#status'}">操作项</th>
            </tr>
        </thead>
    </table>
</div>

<script type="text/html" id="status">
    <a class="layui-btn  layui-btn-xs " lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>


<script type="text/html" id="product_names">
    <a class="xhx" lay-event="sonLink">{{d.link}}</a>
</script>


<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">规则</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>


<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    function showLoad() {
        return layer.msg('正在执行中...', {icon: 16,shade: [0.5, '#f5f5f5'],scrollbar: false,offset: 'auto', time:100000});
    }
    function closeLoad(index) {
        layer.close(index);

    }
    layui.use(["table","form"], function(){


    })
    layui.use(["table","form"], function(){
        var table = layui.table;
        var form = layui.form;
        form.on('select(selectChage)', function(data){
            console.log(data.elem); //得到select原始DOM对象
            console.log(data.value); //得到被选中的值
            console.log(data.othis); //得到美化后的DOM对象
            table.reload('idTest',{
                limit:15,
                where:{
                    serverid:data.value,
                },
                page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
        });
        //监听表格复选框选择
        form.on('checkbox(checkboxs)', function(obj){
            var serverid = [];
            $(" input[ name = 'serverid']:checked ").each(function(){
                serverid.push($(this).val())
            });
            $.ajax({
                type: 'post',
                url: "{:url('shortlinkset/uodateServerid')}", // ajax请求路径
                data:{
                    "serverid" : serverid,
                },
                success: function(data){
                  console.log(data.code);
                  if(data.code == 0){

                  }else{
                      layer.msg(data.msg);
                  }
                }
            });
        });
        form.on('radio(status)', function(data){
            var serverid = $("#selected").find("option:selected").val();
            table.reload('idTest',{
                limit:15,
                where:{
                    serverid:serverid,
                    status:data.value
                },
                page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
        })

        //监听工具条
        table.on('tool(demo)', function(obj){
            var data = obj.data;
            var serverid = $("#selected").find("option:selected").val();

            if(obj.event === 'edit'){
                window.location.href="{:url('shortlinkset/edit')}?id="+data.id+"&&serverid="+serverid;
            } else if(obj.event === 'add'){
                window.location.href="{:url('shortlinkset/add')}";
            } else if(obj.event === 'del'){
                layer.confirm('数据无法恢复，确定执行删除操作？', function(index){
                    layui.use('jquery',function(){
                        var $=layui.$;
                        $.ajax({
                            type: 'post',
                            url: "{:url('shortlinkset/delAction')}", // ajax请求路径
                            data: obj.data,
                            success: function(data){
                                if(data.code==0){
                                    layer.msg('删除成功！');
                                    obj.del();
                                    layer.close(index);
                                }else{
                                    layer.msg(data.msg);
                                }
                            }
                        });
                    });
                });
            } else if(obj.event === 'statusOff'){
                console.log(obj)


                layui.use('jquery',function(){
                    var $=layui.$;
                    $.ajax({
                        type: 'post',
                        url: "{:url('serverproduct/changeStatus')}", // ajax请求路径
                        data:{
                            "serverid" : serverid,
                            "productid" : data.id,
                            "status" : data.status,
                            "spid" : data.spid
                        },
                        success: function(data){
                            if(data.code==0){
                                table.reload('idTest',{

                                });
                                layer.alert('已绑定');
                            }else{
                                layer.msg(data.msg);
                            }
                        }
                    });
                });
            }
        });
        var $ = layui.$, active = {
            reload: function(){ //获取输入框数据
                var demoReload = $('#demoReload').val();
                table.reload('idTest', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    ,where: {
                        link: demoReload
                    }
                });
            }
        };



        $('.demoTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

    });

    $(function () {

        $(".back").click(function () {
            window.history.back(-1);
            $("#selected").options[0].selected = true;
        })

        $(".blackAdd").click(function () {
            window.location.href="{:url('shortlinkset/add')}"
        })
        // 更新
        $(".updateLink").click(function () {
            var serverid = [];
            $(" input[ name = 'serverid']:checked ").each(function(){
                serverid.push($(this).val())
            });
            $.ajax({
                type: 'post',
                url: "{:url('shortlinkset/updateLink')}", // ajax请求路径
                data:{
                    "serverid" : serverid,
                },
                beforeSend: function () {
                    i = showLoad();
                },
                success: function(data){
                    if(data == 200){
                        closeLoad(i);
                        layer.msg('生成文件成功');
                    }else{
                        closeLoad(i);
                        layer.alert(data);
                    }
                }
            });
        })
    })

    //
    // window.onload = function(){
    //     if(window.name!="hasLoad"){
    //         location.reload();
    //         window.name = "hasLoad";
    //     }else{
    //         window.name="";
    //     }
    // }
</script>
