{include file='layout/header'}
<blockquote class="layui-elem-quote layui-text">
    <a class="xhx AA094" href="{:url('server/index')}">服务器管理({$server['servername']})</a>&nbsp>&nbsp<a class="xhx AA094" href="{:url('serverstatistics/flow')}?serverid={$serverid}">流量展示示</a>&nbsp>&nbsp产品统计
    <!--<span class="back xhx"></span>-->
</blockquote>
<div class="layui-btn-group demoTable">
    <div class="layui-inline">
        <input class="layui-input"  autocomplete="off" name="id" placeholder="请输入搜索产品名称" style="width: 300px;" type="text">
    </div>
    <button class="layui-btn" data-type="reload">搜索</button>

</div>
<script src="__static__js/echarts.min.js" charset="utf-8"></script>

<div id="main" style="width: 1350px;height:400px;"></div>


<script>


</script>



<table class="layui-table" lay-data="{width: 1300, height:700, url:'{:url('productstatistics/getProductstatistics')}?serverid={$serverid}&&time={$time}', page:true,limits:[15,30,45],limit:15, id:'idTest'}" lay-filter="demo">
    <thead>
    <tr>
        <th lay-data="{field:'id', width:280}">id</th>
        <th lay-data="{field:'time', width:280,templet:'#Time'}">日期</th>
        <th lay-data="{field:'product_name', width:280,templet:'#name'}">产品名称</th>
        <th lay-data="{field:'producthitcount', width:280,templet:'#preciseVmax'}">产品推送数</th>
    </tr>
    </thead>
</table>


<script type="text/html" id="preciseVmax">
    <a  class="xhx c009688"  lay-event="rulePushTheNumber" >{{d.producthitcount}}</a>
</script>

<script type="text/html" id="name">
    {{ d.product_name }}
</script>

<script type="text/html" id="Time">
    {{ time2date(d.time) }}
</script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    layui.use('table', function(){
        var table = layui.table;
        util = layui.util;
        //监听表格复选框选择
        table.on('checkbox(demo)', function(obj){
            console.log(obj)
        });
        //监听工具条
        table.on('tool(demo)', function(obj){
            var data = obj.data;
            if(obj.event === 'rulePushTheNumber'){
                window.location.href="{:url('rulestatistics/rulePushTheNumber')}?serverid="+{$serverid}+"&&time="+data.time+"&&id="+data.id;
            } else if(obj.event === 'del'){
                layer.confirm('真的删除服务器吗', function(index){
                    layui.use('jquery',function(){
                        var $=layui.$;
                        $.ajax({
                            type: 'post',
                            url: "{:url('server/delAction')}", // ajax请求路径
                            data: obj.data,
                            success: function(data){
                                if(data.code==0){
                                    layer.msg('删除成功！');
                                    obj.del();
                                    layer.close(index);
                                }else{
                                    layer.msg(data.msg);
                                }
                            }
                        });
                    });
                });
            } else if(obj.event === 'edit'){
                window.location.href="{:url('server/edit')}?id="+data.id;
            }
        });



        $('.demoTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
    function time2date(t){
        var t1 = parseInt(t + '000');

        return util.toDateString(t1,"yyyy-MM-dd HH:mm:ss");
    }


    window.onload=function (){
        $(function () {
            $.ajax({
                type: "GET",
                url: "{:url('productstatistics/getProductstatistics')}",
                data: {serverid:{$serverid},time:{$time}},
                dataType: "json",
                success: function(result){
                    console.log(result)
                    if(result.code === 0){
                        var xdata = [],sdata = [];
                        // 基于准备好的dom，初始化echarts实例
                        for (var i =0 ; i < result.data.length;i++){

                            xdata.push(result.data[i]['producthitcount'])
                            sdata.push(result.data[i]['product_name'])
                        }
                        console.log(xdata);
                        console.log(sdata);
                        var myChart = echarts.init(document.getElementById('main'));

                        // 指定图表的配置项和数据
                        var option = {
                            backgroundColor: '#FBFBFB',
                            tooltip : {
                                trigger: 'axis'
                            },
                            legend: {
                                data:['峰值流速','推送数']
                            },
                            toolbox: {
                                show : true,
                                feature : {
                                    mark : {show: true},
                                    dataView : {show: true, readOnly: false},
                                    magicType : {show: true, type: ['line', 'bar', 'stack', 'tiled']},
                                    restore : {show: true},
                                    saveAsImage : {show: true}
                                }
                            },
                            grid: {
                                y2: 140
                            },
                            calculable : true,

                            xAxis : [
                                {
                                    show:true,
                                    name:'时间',
                                    nameRotate:50,
                                    type : 'category',
                                    boundaryGap : true,
                                    data : sdata,
                                    axisLabel:{
                                        interval:0,//横轴信息全部显示
                                        rotate:-30,//-30度角倾斜显示
                                    }
                                }
                            ],
                            yAxis : [
                                {
                                    type : 'value',
                                    show:true,
                                    name:'数值',
                                    boundaryGap : false,
                                }
                            ],
                            series : [
                                {
                                    name:'',
                                    type:'bar',
                                    symbol:'none',
                                    data:xdata
                                }
                            ]
                        };


                        // 使用刚指定的配置项和数据显示图表。
                        myChart.setOption(option);
                    }
                }
            });




        })
    }


</script>