{include file='layout/header'}
<blockquote class="layui-elem-quote layui-text">
    <a class="xhx AA094" href="{:url('product/index')}">产品管理</a>&nbsp>&nbsp子规则列表
</blockquote>
<table class="layui-table" lay-data="{width: 1590, height:680, url:'{:url('rule/getRule')}?productid={$productid}', page:true,limits:[15,30,45],limit:15, id:'idTest'}" lay-filter="demo">

    <div class="demoTable">
        <div class="layui-inline">
            <input class="layui-input" name="id"  placeholder="请输入搜索规则名称" id="demoReload" autocomplete="off">
        </div>
        <button class="layui-btn" data-type="reload">搜索</button>
        <a href="{:url('rule/add')}?productid={$productid}"><button class="layui-btn margin-left10" style="margin-left: 10px;" >添加规则</button></a>
    </div>
    <thead>
    <tr>
        <th lay-data="{field:'id', width:100}">规则ID</th>
        <th lay-data="{field:'rule_name', width:180}">规则名称</th>
        <th lay-data="{field:'product_type', width:70,templet: '#titleTpl'}">类型</th>
        <th lay-data="{field:'rule_status', width:70,templet: '#rule_status'}">状态</th>
        <th lay-data="{field:'order', width:70, edit: 'number'}">排序</th>
        <th lay-data="{field:'rule_host', width:180}">域名</th>
        <th lay-data="{field:'rule_exhost', width:180}">HOST排除</th>
        <th lay-data="{field:'rule_exuri', width:180}">URI排除</th>
        <th lay-data="{field:'rule_exua', width:180}">UA排除</th>
        <th lay-data="{field:'rule_precise_exua', width:180}">UA精准排除</th>
        <th lay-data="{field:'rule_excookie', width:180}">COOkIE排除</th>
        <th lay-data="{fixed: 'right', width:240, align:'center', toolbar: '#barDemo'}">操作项</th>
    </tr>
    </thead>
</table>


<script type="text/html" id="titleTpl">
    {{#  if(d.product_type ==0){ }}
    通匹
    {{#  } else if(d.product_type ==1){ }}
    基本
    {{#  } }}
</script>

<script type="text/html" id="rule_status">
    {{#  if(d.rule_status ==0){ }}
    关闭
    {{#  } else if(d.rule_status ==1){ }}
    开启
    {{#  } }}
</script>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-primary layui-btn-xs  layui-btn-normal fff" lay-event="detail">子规则</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>


<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    layui.use('table', function(){
        var table = layui.table;
        //监听表格复选框选择
        table.on('checkbox(demo)', function(obj){
            console.log(obj)
        });
        table.on('edit(demo)', function(obj){
            var  data = [];
            var value = obj.value //得到修改后的值
                ,field = obj.field; //得到字段

            layui.use('jquery',function(){
                    var $=layui.$;
                    $.ajax({
                        type: 'post',
                        url: "{:url('rule/editAction')}", // ajax请求路径
                        data: {data: obj.data},
                        success: function(data){
                            if(data.code==0){
                                layer.msg('修改成功！');
                            }else{
                                layer.msg(data.msg);
                            }
                        }
                    });
                });
        });
        //监听工具条
        table.on('tool(demo)', function(obj){
            var data = obj.data;
            if(obj.event === 'detail'){
                window.location.href="{:url('childrule/index')}?id="+data.id;
            } else if(obj.event === 'del'){
                layer.confirm('数据无法恢复，确定执行删除操作？', function(index){
                    layui.use('jquery',function(){
                        var $=layui.$;
                        $.ajax({
                            type: 'post',
                            url: "{:url('rule/delAction')}", // ajax请求路径
                            data: obj.data,
                            success: function(data){
                                if(data.code==0){
                                    layer.msg('删除成功！');
                                    obj.del();
                                    layer.close(index);
                                }else{
                                    layer.msg(data.msg);
                                }
                            }
                        });
                    });
                });
            } else if(obj.event === 'edit'){
                window.location.href="{:url('rule/edit')}?id="+data.id;
            }
        });


        var $ = layui.$, active = {
            reload: function(){ //获取输入框数据
                var demoReload = $('#demoReload').val();
                table.reload('idTest', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    ,where: {
                        rule_name: demoReload
                    }
                });
            }
        };

        $('.demoTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
</script>
