{include file='layout/header'}
<blockquote class="layui-elem-quote layui-text">
    流量展示&nbsp>&nbsp{$server['servername']}&nbsp&nbsp&nbsp&nbsp
    <!--<span class="back xhx"></span>-->
</blockquote>
<div class="layui-btn-group demoTable">
    <div class="layui-inline">
        <input class="layui-input"  autocomplete="off" name="id" placeholder="请输入搜索产品名称" style="width: 300px;" type="text">
    </div>
    <button class="layui-btn" data-type="reload">搜索</button>

</div>
<script src="__static__js/echarts.js" charset="utf-8"></script>

<div id="main" style="width: 1300px;height:400px;"></div>

<script>

    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));

    // 指定图表的配置项和数据
    var option = {
        tooltip : {
            trigger: 'axis'
        },
        legend: {
            data:['峰值流速','推送数']
        },
        toolbox: {
            show : true,
            feature : {
                mark : {show: true},
                dataView : {show: true, readOnly: false},
                magicType : {show: true, type: [ 'tiled']},
                restore : {show: true},
                saveAsImage : {show: true}
            }
        },
        calculable : true,
        xAxis : [
            {
                type : 'category',
                boundaryGap : false,
                data : ['0:00','1:00','2:00','3:00','4:00','5:00','6:00','7:00','8:00','9:00','10:00','11:00','12:00','13:00','14:00','15:00','16:00','17:00','18:00','19:00','20:00','21:00','22:00','23:00','24:00']
            }
        ],
        yAxis : [
            {
                type : 'value'
            }
        ],
        series : [
            {
                name:'峰值流速',
                type:'line',
                stack: '总量',
                data:[0, 289, 101, 134, 90, 230, 210, 234, 324, 564, 240, 254, 156,132, 101, 134, 90, 230, 210, 234, 324, 2124, 240, 274,]
            },
            {
                name:'推送数',
                type:'line',
                stack: '总量',
                data:[0, 162, 191, 234, 290, 330, 310,132, 101, 134, 90, 230, 210, 234, 324, 454, 240, 254,132, 101, 134, 90, 240, 298,]
            }
        ]
    };


    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>



<table class="layui-table" lay-data="{width: 1300, height:680, url:'{:url('server/getServer')}', page:true,limits:[15,30,45],limit:15, id:'idTest'}" lay-filter="demo">
    <thead>
    <tr>
        <th lay-data="{field:'id', width:70}">id</th>
        <th lay-data="{field:'servername', width:180}">日期</th>
        <th lay-data="{field:'serverstatus', width:100}">产品名称</th>
        <th lay-data="{field:'macaddress', width:180,templet:'product_push_the_number'}">产品推送数</th>

    </tr>
    </thead>
</table>


<script type="text/html" id="numberBag">
    <a href="{:url('server/vmax')}?id=1">12122</a>

</script>
<script type="text/html" id="product_push_the_number">
    <a href="{:url('server/vmax')}">12122</a>
</script>
<script type="text/html" id="serverstatus">
    {{#  if(d.serverstatus ==0){ }}
    <span class="">未运行</span>
    {{#  } else if(d.serverstatus ==1){ }}

    <span class=""> 运行中</span>

    {{#  } }}
</script>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="detail">开启</a>
    <a class="layui-btn layui-btn-xs" lay-event="detail">停止</a>
    <a class="layui-btn layui-btn-xs daikaifang"  >流量</a>
    <a class="layui-btn layui-btn-xs">产品</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>


<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    layui.use('table', function(){
        var table = layui.table;
        //监听表格复选框选择
        table.on('checkbox(demo)', function(obj){
            console.log(obj)
        });
        //监听工具条
        table.on('tool(demo)', function(obj){
            var data = obj.data;
            if(obj.event === 'detail'){
                window.location.href="{:url('server/index')}?id="+data.id;
            } else if(obj.event === 'del'){
                layer.confirm('真的删除服务器吗', function(index){
                    layui.use('jquery',function(){
                        var $=layui.$;
                        $.ajax({
                            type: 'post',
                            url: "{:url('server/delAction')}", // ajax请求路径
                            data: obj.data,
                            success: function(data){
                                if(data.code==0){
                                    layer.msg('删除成功！');
                                    obj.del();
                                    layer.close(index);
                                }else{
                                    layer.msg(data.msg);
                                }
                            }
                        });
                    });
                });
            } else if(obj.event === 'edit'){
                window.location.href="{:url('server/edit')}?id="+data.id;
            }
        });

        var $ = layui.$, active = {
            getCheckData: function(){ //获取选中数据
                var checkStatus = table.checkStatus('idTest')
                    ,data = checkStatus.data;
                layer.alert(JSON.stringify(data));
            }
            ,getCheckLength: function(){ //获取选中数目
                var checkStatus = table.checkStatus('idTest')
                    ,data = checkStatus.data;
                layer.msg('选中了：'+ data.length + ' 个');
            }
            ,isAll: function(){ //验证是否全选
                var checkStatus = table.checkStatus('idTest');
                layer.msg(checkStatus.isAll ? '全选': '未全选')
            }
        };del

        $('.demoTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
</script>