<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post"  class="layui-form" action="{:url('index/BarcodeDispose')}"><br>
        <textarea rows="3" cols="20"  name="data" style="width: 600px;height: 300px;" placeholder="输入图片地址" ></textarea><br>
        <button type="submit"lay-submit="" lay-filter="demo1" class="btn btn-primary btn-block btn-large layui-input"  style="margin-top: 20px;">检测</button>
    </form>
</body>
</html>