{include file='layout/header'}
<blockquote class="layui-elem-quote layui-text">
    <a class="xhx AA094" href="{:url('product/index')}">产品管理</a>&nbsp>&nbsp <a class="xhx AA094" href="{:url('rule/index')}?id={$productid}">规则列表</a>&nbsp>&nbsp子规则列表
</blockquote>

<table class="layui-table" lay-data="{width: 1590, height:680, url:'{:url('childrule/getChildrule')}?ruleid={$ruleid}', page:true,limits:[15,30,45],limit:15, id:'idTest'}" lay-filter="demo">

    <div class="demoTable">
        <div class="layui-inline">
            <input class="layui-input" name="id"  placeholder="请输入搜索子规则名称" id="demoReload" autocomplete="off">
        </div>
        <button class="layui-btn" data-type="reload">搜索</button>
        <a href="{:url('childrule/add')}?ruleid={$ruleid} && productid={$productid}"><button class="layui-btn margin-left10" style="margin-left: 10px;" >添加子规则</button></a>
    </div>

    <thead>
    <tr>
        <th lay-data="{field:'id', width:180}">子规则ID</th>
        <th lay-data="{field:'childrule_name', width:180}">规则名称</th>
        <th lay-data="{field:'childrule_status', width:70,templet: '#rule_status'}">状态</th>
        <th lay-data="{field:'childrule_type', width:100,templet: '#titleTpl'}">规则类型</th>
        <th lay-data="{fixed: 'right', width:240, align:'center', toolbar: '#barDemo'}">操作项</th>
    </tr>
    </thead>
</table>


<script type="text/html" id="titleTpl">
    {{#  if(d.childrule_type ==1){ }}
    html
    {{#  } else if(d.childrule_type ==2){ }}
    js
    {{#  } else if(d.childrule_type ==301){ }}
    301
    {{#  } else if(d.childrule_type ==302){ }}
    302
    {{#  } }}
</script>

<script type="text/html" id="rule_status">
    {{#  if(d.childrule_status ==0){ }}
    关闭
    {{#  } else if(d.childrule_status ==1){ }}
    开启
    {{#  } }}
</script>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>


<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    layui.use('table', function(){
        var table = layui.table;
        //监听表格复选框选择
        table.on('checkbox(demo)', function(obj){
            console.log(obj)
        });
        //监听工具条
        table.on('tool(demo)', function(obj){
            var data = obj.data;
            if(obj.event === 'detail'){
                window.location.href="{:url('product/edit')}?id="+data.id;
            } else if(obj.event === 'del'){
                layer.confirm('数据无法恢复，确定执行删除操作？', function(index){
                    layui.use('jquery',function(){
                        var $=layui.$;
                        $.ajax({
                            type: 'post',
                            url: "{:url('childrule/delAction')}", // ajax请求路径
                            data: obj.data,
                            success: function(data){
                                if(data.code==0){
                                    layer.msg('删除成功！');
                                    obj.del();
                                    layer.close(index);
                                }else{
                                    layer.msg(data.msg);
                                }
                            }
                        });
                    });
                });
            } else if(obj.event === 'edit'){
                window.location.href="{:url('childrule/edit')}?id="+data.id+"&&ruleid={$ruleid} && productid={$productid}";
            }
        });

        var $ = layui.$, active = {
            reload: function(){ //获取输入框数据
                var demoReload = $('#demoReload').val();
                table.reload('idTest', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    ,where: {
                        childrule_name: demoReload
                    }
                });
            }
        };


        $('.demoTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

    });
</script>
