{include file='layout/header'}
<blockquote class="layui-elem-quote layui-text">
    添加产品
</blockquote>
<form class="layui-form" action="{:url('product/addAction')}" method="post">
    <div class="layui-form-item">
        <label class="layui-form-label">产品名称</label>
        <div class="layui-input-block">
            <input type="text" name="product_name" lay-verify="title" autocomplete="off" placeholder="请输入产品名称" class="layui-input inputWidth">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">产品类型</label>
        <div class="layui-input-block product_radio">
            <input type="radio" name="product_type" value="1" title="基本" class="product_radio" checked="">
            <input type="radio" name="product_type" value="0" title="通匹" class="product_radio" >
        </div>
    </div>
    <div class="layui-form-item" id="tpisshow">
        <div class="layui-inline">
            <label class="layui-form-label">通匹类型</label>
            <div class="layui-input-inline">
                <select name="match_type" lay-verify="required" lay-search="">
                    <option value="0">APK</option>
                    <option value="1">EXE</option>
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
            <a class="layui-btn layui-btn-primary cancel"  lay-filter="cancel"  >取消</a>
        </div>
    </div>
</form>

<script>
    layui.use(['form', 'layedit', 'laydate'], function(){
        var form = layui.form
            ,layer = layui.layer
            ,layedit = layui.layedit
            ,laydate = layui.laydate;
        //自定义验证规则
        form.verify({
            title: function(value){
                if(value.length < 3){
                    return '名称至少得3个字符';
                }
            }
            ,content: function(value){
                layedit.sync(editIndex);
            }
        });
        //监听提交
        form.on('submit(demo1)', function(data){
            // layer.alert(JSON.stringify(data.field), {
            //     title: '最终的提交信息'
            // })
            layui.use('jquery',function(){
                var $=layui.$;
                $.ajax({
                    type: 'post',
                    url: "{:url('product/addAction')}", // ajax请求路径
                    data: data.field,
                    success: function(data){
                        if(data.code==0){
                             layer.msg('添加成功');
                             setTimeout(function () {
                                 window.history.back(-1);
                             },1000)
                         }else{
                             layer.msg(data.msg);
                         }
                    }
                });
            });
            return false;
        });
    });

    $(function () {
        $('#tpisshow').hide();
        $(".product_radio").click(function () {
            var product =  $("input[name='product_type']:checked").val();
            if(product == 0){
                $('#tpisshow').show();
            }else if(product == 1){
                $('#tpisshow').hide();
            }
        })
        // 取消
        $(function () {
            $(".cancel").click(function () {
                window.location.href="{:url('product/index')}"
            })
        })
    })
</script>
