{include file='layout/header'}
<blockquote class="layui-elem-quote layui-text">
   产品绑定
</blockquote>

<div action="" class="layui-form">
<table class="layui-table " lay-data="{width: 454, height:667, url:'{:url('product/getProductBindingList')}?serverid={$serverDefault}', page:true,limits:[15,30,45],limit:15,serverid:0, id:'idTest'}" lay-filter="demo">
    <div class="layui-form-item" id="tpisshow">


        <div class="demoTable">
            <!--搜索产品名称：-->
            <div class="layui-inline">
                <input class="layui-input" name="id"  placeholder="请输入搜索产品名称" id="demoReload" autocomplete="off">
            </div>
            <button class="layui-btn" data-type="reload">搜索</button>

            <div class="layui-inline">
                <div class="layui-input-inline">
                    <select name="" lay-verify="required" lay-search=""  autocomplete="off" lay-filter="selectChage" class="selectWidth" id="selected">
                        {volist name="serverList" id="vo"}
                        <option value="{$vo.id}">{$vo.servername}</option>
                        {/volist}
                    </select>
                </div>
            </div>

            <div class="layui-inline" style="margin-left: -120px;">
                <div class="layui-input-block product_radio"  id="childrule_status" >
                    <input type="radio" name="data[status]" value="1" title="绑定"  lay-filter="status" class="product_radio" >
                    <input type="radio" name="data[status]" value="0" title="解绑"  lay-filter="status" class="product_radio">
                    <input type="radio" name="data[status]" value="9" title="全部"  lay-filter="status" class="product_radio" checked>
                </div>
            </div>

        </div>
    </div>


    <thead>
    <tr>
        <th lay-data="{field:'id', width:115, sort: true, fixed: true}">ID</th>
        <th lay-data="{field:'product_name', width:220,templet: '#product_names'}">产品名称</th>
        <th lay-data="{field:'status', width:115,templet: '#status'}">操作项</th>
    </tr>
    </thead>
</table>
</div>

<script type="text/html" id="status">
    {{#  if(d.status == 1){ }}
    <a class="layui-btn  layui-btn-xs " lay-event="statusOn">解绑</a>
    {{#  } else if(d.status == null || d.status == 0){ }}
    <a class="layui-btn layui-btn-danger layui-btn-xs " lay-event="statusOff">绑定</a>
    {{#  } }}
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>


<script type="text/html" id="product_names">
    <a class="xhx" lay-event="sonLink">{{d.product_name}}</a>
</script>


<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">规则</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>


<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>

    layui.use(["table","form"], function(){


    })
    layui.use(["table","form"], function(){
        var table = layui.table;
        var form = layui.form;
        form.on('select(selectChage)', function(data){
            console.log(data.elem); //得到select原始DOM对象
            console.log(data.value); //得到被选中的值
            console.log(data.othis); //得到美化后的DOM对象
            table.reload('idTest',{
                limit:15,
                where:{
                    serverid:data.value,
                },
                page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
        });
        //监听表格复选框选择
        table.on('checkbox(demo)', function(obj){
            console.log(obj.id)
        });
        form.on('radio(status)', function(data){
            var serverid = $("#selected").find("option:selected").val();
            table.reload('idTest',{
                limit:15,
                where:{
                    serverid:serverid,
                    status:data.value
                },
                page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
        })

        //监听工具条
        table.on('tool(demo)', function(obj){
            var data = obj.data;
            var serverid = $("#selected").find("option:selected").val();

            if(obj.event === 'detail'){
                window.location.href="{:url('Rule/index')}?id="+data.id;
            } else if(obj.event === 'sonLink'){
                window.location.href="{:url('rule/binding')}?id="+data.id+"& serverid="+serverid;
            } else if(obj.event === 'statusOn'){
                layer.confirm('该产品下所有的规则、子规则都会解绑，确定执行吗？', function(index){
                    layer.confirm('再次确定解绑产品吗？', function(index){
                        layui.use('jquery',function(){
                            var $=layui.$;
                            $.ajax({
                                type: 'post',
                                url: "{:url('serverproduct/changeStatus')}", // ajax请求路径
                                data:{
                                    "serverid" : serverid,
                                    "productid" : data.id,
                                    "status" : data.status,
                                    "spid" : data.spid
                                },
                                success: function(data){
                                    if(data.code==0){
                                        // layer.msg('成功');
                                        if(data.code==0){
                                            table.reload('idTest',{

                                            });
                                            layer.msg('解绑成功！');
                                        }else{
                                            layer.msg(data.msg);
                                            setTimeout(function () {
                                                location.reload();
                                            },1000)
                                        }
                                    }else{
                                        layer.msg(data.msg);
                                    }
                                }
                            });
                        });
                    })
                })

            } else if(obj.event === 'statusOff'){
                layer.confirm('该产品下所有的规则、子规则都会绑定，确定执行吗？', function(index){
                    layer.confirm('再次确定绑定产品吗？', function(index){
                        layui.use('jquery',function(){
                            var $=layui.$;
                            $.ajax({
                                type: 'post',
                                url: "{:url('serverproduct/changeStatus')}", // ajax请求路径
                                data:{
                                    "serverid" : serverid,
                                    "productid" : data.id,
                                    "status" : '',
                                    "spid" : data.spid
                                },
                                success: function(data){
                                    if(data.code==0){
                                        table.reload('idTest',{

                                        });
                                        layer.msg('绑定成功！');
                                    }else{
                                        layer.msg(data.msg);
                                    }
                                }
                            });
                        });
                    })
                })
            }else if(obj.event === 'del'){
                layer.confirm('数据无法恢复，确定执行删除操作？', function(index){
                    layui.use('jquery',function(){
                        var $=layui.$;
                        $.ajax({
                            type: 'post',
                            url: "{:url('serverproduct/changeStatus')}", // ajax请求路径
                            data:{
                                "serverid" : serverid,
                                "productid" : data.id,
                                "status" : 2,
                                "spid" : data.spid
                            },
                            success: function(data){
                                if(data.code==0){
                                    table.reload('idTest',{

                                    });
                                    layer.msg(obj.data.id+':删除成功！');
                                }else{
                                    layer.msg(data.msg);
                                }
                            }
                        });
                    });
                })
            }
        });

        var $ = layui.$, active = {
            reload: function(){ //获取输入框数据
                var demoReload = $('#demoReload').val();
                table.reload('idTest', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    ,where: {
                        product_name: demoReload
                    }
                });
            }
            ,getCheckLength: function(){ //获取选中数目
                var checkStatus = table.checkStatus('idTest')
                    ,data = checkStatus.data;
                layer.msg('选中了：'+ data.length + ' 个');
            }
            ,isAll: function(){ //验证是否全选
                var checkStatus = table.checkStatus('idTest');
                layer.msg(checkStatus.isAll ? '全选': '未全选')
            }
        };


        $('.demoTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });

    $(function () {


        $(".back").click(function () {
            window.history.back(-1);
            $("#selected").options[0].selected = true;
        })
    })


    window.onload = function(){
        if(window.name!="hasLoad"){
            location.reload();
            window.name = "hasLoad";
        }else{
            window.name="";
        }
    }
</script>
