{include file='layout/header'}
<blockquote class="layui-elem-quote layui-text">
    修改账号
</blockquote>
<form class="layui-form" action="" method="post">
    <input type="hidden" name="data[id]" value="{$userInfo['id']}">
    <div class="layui-form-item">
        <label class="layui-form-label typename">账号</label>
        <div class="layui-input-block">
            <input type="text" name="data[name]" value="{$userInfo['name']}" disabled lay-verify="name"   autocomplete="off" placeholder="请输入账号" class="layui-input inputWidth">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label typename"> 密码</label>
        <div class="layui-input-block">
            <input type="text" name="data[password]" value="{$userInfo['password']}"  lay-verify="pass"  autocomplete="off" placeholder="请输入密码" class="layui-input inputWidth">
        </div>
    </div>
    <div class="layui-form-item" id="tactics">
        <div class="layui-inline">
            <label class="layui-form-label">级别</label>
            <div class="layui-input-inline">
                <select name="data[type]"  class="selectWidth" id="jibie">
                    <option value="0">————请选择————</option>
                    {volist name="roleList" id="vo"}
                    <option value="{$vo.id}">{$vo.name}</option>
                    {/volist}
                </select>
            </div>
        </div>
    </div>


    <div class="layui-form-item" pane="">
        <label class="layui-form-label" style="margin-right: -10px;">指定菜单栏</label>
        {if condition="!empty($menulist)"}
        {volist name="$menulist" id="vo"}
        <div class="layui-input-block" style="width: 600px;">
            <div class="father">
                <input type="checkbox"  name="sonCheck[]" lay-skin="primary" value="{$vo.info.id}"  title="{$vo.info.menu_name}">
            </div>
            <div class="son">
                {volist name="$vo.child" id="child"}
                <input type="checkbox" name="sonCheck[]" lay-skin="primary" value="{$child.info.id}" title="{$child.info.menu_name}">
                {/volist}
            </div>

        </div>
        {/volist}
        {else /} {$msg}
        {/if}

    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="demo1">立即修改</button>
            <a class="layui-btn layui-btn-primary cancel"  lay-filter="cancel"  >取消</a>
        </div>
    </div>
</form>

<script>
    layui.use(['form', 'layedit', 'laydate'], function(){
        var form = layui.form
            ,layer = layui.layer
            ,layedit = layui.layedit
            ,laydate = layui.laydate;
        //自定义验证规则
        form.verify({
            pass: [/^[a-zA-Z0-9_-]{4,16}$/,'密码为：4-16位字母、数字、下划线、减号组合'],
            content: function(value){
                layedit.sync(editIndex);
            }
        });
        //监听提交


        form.on('submit(demo1)', function(data){
            layui.use('jquery',function(){
                var $=layui.$;
                $.ajax({
                    type: 'post',
                    url: "{:url('user/editAction')}", // ajax请求路径
                    data: data.field,
                    success: function(data){
                        if(data.code==0){
                             layer.msg('修改成功');
                             setTimeout(function () {
                                 window.location.href="{:url('index/userIndex')}"
                             },1000)
                         }else{
                             layer.msg(data.msg);
                         }
                    }
                });
            });
            return false;
        });

        $('.son').click(function () {
            console.log($("input[name='checkboxall']").val())
            $(this).prev().children('input').prop("checked",true);
            form.render('checkbox');
        })


        $('.father').click(function () {
            var result = $(this).children('input').is(':checked');
            if(result == true){
                $(this).next().children('input').prop("checked",true);
            }else{
                $(this).next().children('input').prop("checked",false);
            }
            form.render('checkbox');
        })

        $("#jibie").find("option[value='{$userInfo["type"]}']").prop("selected",true);
        form.render();
    });



        // JQUery辅助代码
        $(function () {
            var usermenu = {$userMenu};
            console.log(usermenu);
            //反显用户已经存在的菜单
            if(usermenu.code == 0){
                var userMneuLength = usermenu.data.length
                var userMneudadata = usermenu.data
                var usermenuI = 0;
                for (usermenuI;usermenuI<userMneuLength;usermenuI++){
                    $("input[value='"+userMneudadata[usermenuI].menu_id+"']").prop("checked",true)
                }
            }
            $(".cancel").click(function () {
                window.location.href="{:url('index/userIndex')}"
            })
        })

</script>
