{include file='layout/header'}
<blockquote class="layui-elem-quote layui-text">
    采集数据
</blockquote>
<form action="" class="layui-form">
<div class="layui-anim layui-anim-upbit">
    <table class="layui-table" lay-data="{width: 1500, height:680, url:'{:url('HttpdatacollectServerid/getHttpdatacollect')}?tables_name={$defaultTables}', page:true,limits:[15,30,45],limit:15, id:'idTest'}" lay-filter="demo">
        <div class="layui-inline">
            <div class="layui-input-inline">
                <select name="" lay-verify="required" lay-search=""  autocomplete="off" lay-filter="selectChage" class="selectWidth" id="selected">
                    {volist name="tables" id="vo" }
                    <option value="{$key}">{$vo}</option>
                    {/volist}
                </select>
            </div>
        </div>

        <thead>
        <span id="wipe_data" class="layui-btn margin-left10" >清空数据</span>
        <span id="export_data" class="layui-btn margin-left10" lay-event="export_data">导出数据</span>
        <tr>
            <th lay-data="{field:'serverid', width:100}">服务器ID</th>
            <th lay-data="{field:'host', width:180}">HOST</th>
            <th lay-data="{field:'uri', width:180}">URl</th>
            <th lay-data="{field:'srcip', width:180}">源IP</th>
            <th lay-data="{field:'destip', width:180}">目的IP</th>
            <th lay-data="{field:'referer', width:180}">来源</th>
            <th lay-data="{field:'ua', width:180}">UA</th>
            <th lay-data="{field:'time', width:180,templet:'#Time'}">时间</th>
        </tr>
        </thead>
    </table>
</div>
</form>
<script type="text/html" id="Time">
    {{ time2date(d.htime) }}
</script>
<script>
    function showLoad() {
        return layer.msg('派群系统正在努力导出中...', {icon: 16,shade: [0.5, '#f5f5f5'],scrollbar: false,offset: 'auto', time:2000});
    }

    layui.use('table', function(){
        var table = layui.table;
        var form = layui.form;
        util = layui.util;
        // 监听服务器选择
        form.on('select(selectChage)', function(data){
            table.reload('idTest',{
                limit:15,
                where:{
                    tables_name:data.value,
                },
                page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
        })
    });


    //时间戳转换
    function time2date(t){
        var t1 = parseInt(t + '000');
        return util.toDateString(t1,"yyyy-MM-dd HH:mm:ss");
    }

    $(function () {
        //执行删除表动作
        $('#wipe_data').click(function () {
            var table_name = $("#selected").find("option:selected").val();
            layer.confirm('数据无法恢复，确定执行删除操作？', function(index){
                $.ajax({
                    type: 'get',
                    url: "{:url('HttpdatacollectServerid/delTable')}", // ajax请求路径
                    data: {table_name:table_name},
                    success: function(data){
                        if(data.code==0){
                            layer.confirm('已删除', {icon: 1, title:'删除提示',yes: function(index){
                                    layer.close(index);
                                    location.reload();
                                },
                                cancel: function(index, layero){
                                    layer.close(index);
                                    location.reload();
                                }
                            });
                        }else{
                            layer.msg(data.msg);
                        }
                    }
                });
            })
        })
        //下载导出文件
        $('#export_data').click(function () {
            var table_name = $("#selected").find("option:selected").val();
            console.log(table_name);
            if(table_name == undefined){
                    layer.msg('请选择数据表！');
            }else{
                window.location.href="{:url('HttpdatacollectServerid/exportCsv')}?table_name="+table_name;
            }

        })
    })

</script>